.loadInfoContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loadInfo {
    margin-top: 160px;
    color: #666;
    font-style: italic;
}

@media (max-width: 767px) {
    .loadInfo {
        margin-top: 80px;
    }
}