.container {
    width: 100%;
    max-width: clamp(320px, 95vw, 1440px); /* Трохи збільшили 90vw -> 95vw для мобільних */
    padding: clamp(6px, 1vh, 10px) clamp(4px, 2vw, 16px);
    margin: 0 auto;
    box-sizing: border-box;
}