.emptyContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.container {
    padding: 40px 0;
    min-height: 60vh;
}

.title {
    font-size: 28px;
    margin-bottom: 30px;
    color: var(--white-hover);
    text-align: center;
}

.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    gap: 30px;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1;
}

.summary {
    background: var(--black-light);
    padding: 20px;
    border-radius: 8px;
    height: fit-content;
    border: 1px solid #333;
    min-width: 200px;

    /* --- ПРИЛИПАННЯ ПРИ ДОВГОМУ СПИСКУ --- */
    position: sticky;
    top: 20px; /* Відступ від верху екрана. Якщо в тебе є закріплене меню зверху (Header), зроби тут більше, наприклад 80px або 100px */
    align-self: flex-start; /* НАЙГОЛОВНІШЕ: забороняє панелі розтягуватися на всю висоту сторінки, даючи їй "колію" для руху */
}

.prices {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 5px;
}

.eur {
    font-size: 24px;
    font-weight: bold;
    color: var(--white);
}

.uah {
    font-size: 20px;
    color: var(--grey);
}

.orderBtn {
    width: 100%;
    padding: 15px;
    background: var(--red);
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.5s ease;
}

.orderBtn:hover {
    background: var(--red-hover);
}

@media (max-width: 880px) {
    .name {
        display: flex;
    }
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
        align-items: stretch;
    }

    .summary {
        /*position: relative;*/
        /*top: 20px; !* Відступ від верху екрана. Якщо в тебе є закріплене меню зверху (Header), зроби тут більше, наприклад 80px або 100px *!*/
        align-self: normal; /* НАЙГОЛОВНІШЕ: забороняє панелі розтягуватися на всю висоту сторінки, даючи їй "колію" для руху */
    }
}

@media (max-width: 550px) {
    .title {
        font-size: 20px;
        margin-bottom: 15px;
    }
}