.container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    padding: 24px 48px;
    border: 1px solid var(--grey);
    border-radius: 5px;
    background-color: var(--grey);
    box-shadow: 0 2px 2px rgba(255, 255, 255, 0.25);
}

.input {
    flex-grow: 1;
    padding: 12px 24px;
    font-size: 20px;
    border: 1px solid var(--grey);
    border-radius: 4px;
    text-align: center;
}

.button {
    padding: 12px 24px;
    font-weight: 700;
    color: var(--white);
    background-color: var(--red);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: var(--red-hover);
}