.container {
    display: flex;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid var(--grey);
    border-radius: 5px;
    background-color: var(--grey);
    box-shadow: 0 2px 2px rgba(255, 255, 255, 0.25);
}

.input {
    flex-grow: 1;
    padding: 24px 48px;
    font-size: 20px;
    border: 1px solid var(--white);
    border-radius: 4px 0 0 4px;
    text-align: center;
    /* Коли інпут отримає фокус, браузер прокрутить сторінку так,
       щоб під інпутом було ще 100px запасу (де лежить твоя кнопка) */
    scroll-margin-bottom: 200px;
}

.input:focus {
    outline: none;
    border-color: var(--black); /* Твій новий колір при фокусі (синій, зелений тощо) */
    /*text-align: left;*/
}

.input::placeholder {
    text-align: center; /* Тільки "сірий" текст по центру */
}

.button {
    padding: 12px 24px;
    font-weight: 700;
    color: var(--white);
    background-color: var(--red);
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    transition: all 0.3s ease;

}

.button:hover {
    background-color: var(--red-hover);
}

@media (max-width: 1000px) {
    ::placeholder {
        font-size: 16px;
    }

    .input {
        padding: 12px 24px;
    }
}

@media (max-width: 862px) {
    ::placeholder {
        font-size: 13px;
    }
}

@media (max-width: 767px) {
    .container {
        padding: 0;
        flex-direction: column;
    }

    .input {
        border-radius: 4px 4px 0 0;
    }

    .button {
        padding: 15px;
        font-weight: 700;
        border-radius: 0 0 4px 4px;
    }

    ::placeholder {
        font-size: 16px;
    }

}