.wrapper {
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.2); /* світла тінь */
}

.headerComponents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.userActions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

@media (max-width: 680px) {
    .userActions {
        gap: 10px;
    }
}

@media (max-width: 360px) {
    .headerComponents {
        flex-direction: column;
    }
}