.wrapper {
    border: 1px solid var(--grey);
    border-radius: 5px;
    margin: 5px 0;
    padding: 5px;
    background-color: var(--grey);
    box-shadow: 0 2px 2px rgba(255, 255, 255, 0.25);
}

.container {
    color: var(--black);
    background-color: var(--white);
    border-radius: 5px;
    padding: 24px 48px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.brand {
    font-weight: 700;
}

.code {
    font-weight: 600;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.stock {
    color: var(--white);
    font-weight: 500;
    padding: 5px 20px;
}

.price {
}

.outOfStock {
    background-color: var(--red);
}

.lowStock {
    background-color: orange;
}

.goodStock {
    background-color: green;
}